
//card
.card{
    height: auto;
    margin: auto;
    width: 100%;
    max-width: 1130px;
    padding-bottom: 70px;
    padding-top: 10px;
    background-color: white;
    margin-bottom: 100px;
    display: inline-block;
    box-shadow: 0px 8px 16px rgba(48, 49, 51, 0.1), 0px 0px 1px rgba(48, 49, 51, 0.05);
    
    .title{
        margin-top: 40px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        margin: 5px;
    }
    .body{
        margin: auto;
        width: 100%;
        max-width: 459px;

        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
            form{
                margin-top: 50px;
            }
    }
}

/**  card look inside payment */
.payments{
    width: 82%;
    min-height: 200px;
    border: 1px solid rgba(48, 49, 51, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 8%;
    margin-top: 30px;
    .payment-card-icon{
        svg{
            width: 60px;
        }
    }
    .cards-group {
            margin-top: 20px;
            svg{
                width: 50px;
                margin-left: 10px;
            }

    }
    
}

/** card look inside message success */
.message-success{
    padding-top: 120px;
    padding-bottom: 100px;
    img{
        max-width: 60px;
    }

    .title{
        margin-top: 10px;
    }
}


// Small devices (landscape phones, 576px and up)
@media  screen and (max-width: 576px) { 
    .card{
        width: 95%;
        .body{
            width: 90%;
            padding: 5%;
        }
        p{
            padding: 5%;
        }
    } 
 }

// Medium devices (tablets, 768px and up)
@media  screen and (max-width: 768px) { 
    
    .card{
        width: 95%;
        .body{
            width: 90%;
            padding: 5%;
        }
        p{
            padding: 5%;
        }
    } 
 }