footer{
    background-color: white;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    .container{
        max-width: 1100px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .copy{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #BDBDBD;
    }
    .footer-menu{
        height: auto;
        .icon-logo-wam {
            height: 3em;
            width: 7em;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media  screen and (max-width: 576px) { 
    footer .container{
        padding-left: 0;
        padding-right: 0;
        .copy{
            margin-left: 5%;
        }
        .logo{
            margin-right: 5%;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media  screen and (max-width: 768px) { 
   
    footer .container{
        padding-left: 0;
        padding-right: 0;
        .copy{
            margin-left: 5%;
        }
        .logo{
            margin-right: 5%;
        }
    }
    
 }
