
// forms
.field-label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-family: 'Muli';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 300;
    color: #000000;
}

input, textarea, select {
    color: #1F1F1F;
    font-size: 15px;
    font-weight: normal;
    min-height: 40px;
    max-width: 100%;
    line-height: 15px;
    display: inline;
    width: 100%;
    padding: 5px 0 0 10px;
    background: white;
    border: 2px solid #F5F5F5;
    font-weight: 500;
}

.error {
    color: crimson;
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
    
}
p.error{
    font-size: 10px;
}