/** desktop nav bar **/
nav{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom:1px solid #F5F5F5;
    .container{
        max-width: 1100px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .top-menu{
        height: auto;
        .icon-logo-wam {
            height: 3em;
            width: 8em;
        }
    }

    .menu{
        position: relative;
        top: 0;
        left: 0;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        padding: 0;
        transform: none;
        ul{
            list-style: none;
        }
        .item{
            float: left;
            font-size: 12px;
            text-align: left;
            padding: 0 25px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #000000;
            .icon{
                margin-right: 10px;
            }
        }
        .item:last-child{
            padding-right: 0;
            .icon{
                margin-right: 0;
                margin-left: 6px;
            }
        }
    }
}


   // Large devices (desktops, 992px and up)
   @media  screen and  (max-width: 992px) { 
    .menu-responsive, .icon-container {
      display: none;
    }
  
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media  screen and (max-width: 1200px) { 
    .menu-responsive, .icon-container {
      display: none;
    }
  }
 
// Small devices (landscape phones, 576px and up)
@media  screen and (max-width: 576px) { 
  .menu-responsive {
    display: block;
    position: absolute;
    top: 55px;
    padding: 5%;
    background-color: white;
    right: 0;
    z-index: 9999;
    width: 180px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
    ul{
      padding-left: 5px;
    }
    li {
      list-style-type: none;
    }
  }
  .icon-container {
    display: inline-block;
    cursor: pointer;
    margin-right: 5%;
  }
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
    input[type='text'],
    input[type='number'],
    textarea {
    font-size: 16px;
    }
    nav .menu{
        display: none;
    }

    nav .logo{
        margin-left: 5%;
    }

    nav .container{
        padding-left: 0;
        padding-right: 0;  
    }
}

// Medium devices (tablets, 768px and up)
@media  screen and (max-width: 768px) { 
  .menu-responsive {
    display: block;
    position: absolute;
    top: 55px;
    padding: 5%;
    background-color: white;
    right: 0;
    z-index: 9999;
    width: 180px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
    ul{
      padding-left: 5px;
    }
    li {
      padding: 5%;
      list-style-type: none;
    }
  }
  .icon-container {
    display: inline-block;
    cursor: pointer;
    margin-right: 5%;
  }
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
  input[type='text'],
  input[type='number'],
  textarea {
  font-size: 16px;
  }
  nav .menu{
      display: none;
  }

  nav .logo{
      margin-left: 5%;
  }

  nav .container{
      padding-left: 0;
      padding-right: 0;  
  }

}
















