
// stepper progress bar
.progressbar {
    margin: auto;
    padding: 0;
    counter-reset: step;
    width: 350px;
    clear: both;
    position: relative;
    margin-top: 40px;
    li:first-child::after {
        content: none;
    }
    li::after {
        width: 50%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #E0E0E0;
        top: 15px;
        left: -25%;
        z-index: -1;
    }
    li.active::before {
        border-color: #3D8FCB;
        background-color: #3D8FCB;
        color: white;
    }
    li::before {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 27px;
        border: 2px solid #3D8FCB;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    li {
        list-style-type: none;
        width: 50%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #BDBDBD;
        font-weight: lighter;
        &.active{
            color: black;
            font-weight: bold;
        }
        &.sucess{
            color: #F5F5F5!important;
        }
        &.success:before {
            border-color:  #75C900;
            color: white;
            background: #F5F5F5 url('./assets/img/check.svg') center;
            list-style-type: none;
            color: transparent;
        }
    }
    
}