<!-- loader -->
<div *ngIf="loading && errorResponse.length === 0" class="loader-position">
  <div class="lds-ripple"><div></div><div></div></div>
</div>
<div  *ngIf="errorResponse.length > 0" class="loader-position">
  <h1>Lo sentimos, ocurrio un error en nuestros servicios. Por favor intentelo mas tarde.</h1>
  <p>
    {{ errorResponse }}
  </p>
</div>
<!-- end of loader -->
<!-- card content -->
<div [hidden]="loading" >
<h1 class="title">Pago del producto</h1>
  <p class="payment-legend">Una vez efectuado el pago del producto, recibirás un email con los detalles de la compra.</p>
<!-- card body -->
  <div class="body">
   <div class="payments">
    <div class="payment-card-icon">
      <i>
        <svg  viewBox="0 0 62 51" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 13">
          <path id="Stroke 1" d="M8.07049 30.5692H6.25049C3.50049 30.5692 1.25049 28.3192 1.25049 25.5692V6.25024C1.25049 3.50024 3.50049 1.25024 6.25049 1.25024H43.7395C46.4895 1.25024 48.7395 3.50024 48.7395 6.25024V14.5972" stroke="#DE3931" stroke-width="2.5" stroke-linejoin="round"/>
          <path id="Stroke 3" d="M1.58691 8.61621H48.4019" stroke="#DE3931" stroke-width="2.5" stroke-linejoin="round"/>
          <path id="Stroke 5" fill-rule="evenodd" clip-rule="evenodd" d="M55.6565 19.5642C58.4065 19.5642 60.6565 21.8142 60.6565 24.5642V43.8832C60.6565 46.6332 58.4065 48.8832 55.6565 48.8832H18.1665C15.4165 48.8832 13.1665 46.6332 13.1665 43.8832V24.5642C13.1665 21.8142 15.4165 19.5642 18.1665 19.5642H55.6565Z" stroke="#DE3931" stroke-width="2.5"/>
          <path id="Stroke 7" fill-rule="evenodd" clip-rule="evenodd" d="M55.6565 19.5642C58.4065 19.5642 60.6565 21.8142 60.6565 24.5642V43.8832C60.6565 46.6332 58.4065 48.8832 55.6565 48.8832H18.1665C15.4165 48.8832 13.1665 46.6332 13.1665 43.8832V24.5642C13.1665 21.8142 15.4165 19.5642 18.1665 19.5642H55.6565Z" stroke="#DE3931" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path id="Stroke 9" d="M20.7666 41.3142H34.8936" stroke="#DE3931" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path id="Stroke 11" d="M20.7666 34.5752H46.4466" stroke="#DE3931" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          </svg>
      </i>
    </div>
    <h2>Tarjeta de crédito</h2>
    <p>Se redirigirá a una plataforma de pago. Se trata de un proceso seguro. Puede que la validación del pago tarde 24 horas en completarse.</p>
    <div class="cards-group">
      <svg class="visa credit-cards" viewBox="0 0 48 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.125" y="1.125" width="45.2283" height="28.4978" rx="3.375" fill="white" stroke="#979797" stroke-width="2.25"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9126 9.67463C31.3138 9.44842 30.3764 9.20435 29.2039 9.20435C26.2202 9.20435 24.1162 10.7164 24.0985 12.8848C24.0808 14.4861 25.5992 15.3806 26.7451 15.9148C27.9205 16.461 28.3183 16.8093 28.3124 17.2974C28.3035 18.0445 27.372 18.3853 26.5026 18.3853C25.2961 18.3853 24.6544 18.2157 23.6609 17.8004L23.272 17.6248L22.8477 20.1206C23.5514 20.4317 24.857 20.701 26.2128 20.7144C29.3887 20.7144 31.4498 19.2202 31.4735 16.9045C31.4838 15.638 30.681 14.6722 28.9378 13.8759C27.8806 13.3595 27.2345 13.0157 27.2389 12.4934C27.2389 12.0305 27.7889 11.5349 28.9703 11.5349C29.958 11.5186 30.6751 11.7359 31.231 11.9606L31.5016 12.0901L31.9126 9.67463Z" fill="#16216A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M39.6574 9.40967H37.3243C36.6013 9.40967 36.0601 9.60909 35.7437 10.3339L31.2563 20.5522H34.4293C34.4293 20.5522 34.9468 19.1785 35.0651 18.8779C35.4111 18.8779 38.4923 18.8823 38.9329 18.8823C39.0231 19.2723 39.3011 20.5522 39.3011 20.5522H42.1044L39.6574 9.40967ZM35.933 16.5979C36.1843 15.9535 37.1365 13.4785 37.1365 13.4785C37.1202 13.5098 37.3849 12.8341 37.5357 12.4144L37.7412 13.3758C37.7412 13.3758 38.3208 16.0383 38.4421 16.5979H35.933Z" fill="#16216A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4016 9.40674L12.4445 17.0102L12.1281 15.4654C11.5796 13.6854 9.86298 11.7537 7.94531 10.7878L10.6481 20.5388L13.8447 20.5358L18.6012 9.40674H15.4016Z" fill="#16216A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70077 9.40063H4.82749L4.79053 9.63131C8.58003 10.554 11.0891 12.7864 12.1285 15.4652L11.0699 10.3412C10.8866 9.63429 10.3572 9.42593 9.70077 9.40063Z" fill="#16216A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.936 20.5476L19.8241 9.39917H22.8463L20.9537 20.5476H17.936Z" fill="#16216A"/>
        </svg>
        <svg class="mastercard credit-cards" viewBox="0 0 49 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.260742" width="47.4783" height="30.7478" rx="4.5" fill="black"/>
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="9" y="24" width="31" height="5">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.625 28.0777H39.5086V24.156H9.625V28.0777Z" fill="white"/>
          </mask>
          <g mask="url(#mask0)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M36.1765 26.586C36.1765 26.0786 36.4885 25.6726 36.9925 25.6726C37.4743 25.6726 37.7918 26.0617 37.7918 26.586C37.7918 27.1103 37.4743 27.4994 36.9925 27.4994C36.4885 27.4994 36.1765 27.0934 36.1765 26.586ZM38.2955 26.586V24.156H37.7699V25.5656C37.5892 25.3231 37.2936 25.1708 36.9211 25.1708C36.1874 25.1708 35.6288 25.7629 35.6288 26.586C35.6288 27.4093 36.1874 28.0012 36.9211 28.0012C37.2936 28.0012 37.5892 27.8488 37.7699 27.6064V27.9336H38.2955V26.586ZM30.8925 26.586C30.8925 26.0786 31.2045 25.6726 31.7082 25.6726C32.1901 25.6726 32.5078 26.0617 32.5078 26.586C32.5078 27.1103 32.1901 27.4994 31.7082 27.4994C31.2045 27.4994 30.8925 27.0934 30.8925 26.586ZM33.0115 26.586V25.2384H32.4859V25.5656C32.3052 25.3231 32.0096 25.1708 31.6371 25.1708C30.9034 25.1708 30.3448 25.7629 30.3448 26.586C30.3448 27.4093 30.9034 28.0012 31.6371 28.0012C32.0096 28.0012 32.3052 27.8488 32.4859 27.6064V27.9336H33.0115V26.586ZM39.1996 27.7314V27.7979H39.2589C39.2723 27.7979 39.2832 27.7951 39.2914 27.7894C39.2994 27.7841 39.3035 27.7756 39.3035 27.7644C39.3035 27.7534 39.2994 27.7452 39.2914 27.7396C39.2832 27.7342 39.2723 27.7314 39.2589 27.7314H39.1996ZM39.2594 27.685C39.2903 27.685 39.3144 27.692 39.3311 27.7064C39.3478 27.7204 39.3562 27.7399 39.3562 27.7644C39.3562 27.7849 39.3494 27.8018 39.3363 27.8151C39.3229 27.8283 39.3037 27.8367 39.2791 27.8396L39.3582 27.9333H39.2964L39.2231 27.8404H39.1996V27.9333H39.1481V27.685H39.2594ZM39.2441 28.0186C39.2723 28.0186 39.2983 28.0133 39.3226 28.0023C39.3467 27.9913 39.368 27.9764 39.3861 27.9578C39.4044 27.9389 39.4186 27.917 39.4293 27.8914C39.4397 27.866 39.4448 27.839 39.4448 27.8103C39.4448 27.7813 39.4397 27.7542 39.4293 27.7289C39.4186 27.7036 39.4044 27.6816 39.3861 27.6627C39.368 27.6439 39.3467 27.6292 39.3226 27.6185C39.2983 27.6075 39.2723 27.6022 39.2441 27.6022C39.2157 27.6022 39.1889 27.6075 39.1643 27.6185C39.1394 27.6292 39.1178 27.6439 39.0995 27.6627C39.0814 27.6816 39.0669 27.7036 39.0565 27.7289C39.0461 27.7542 39.041 27.7813 39.041 27.8103C39.041 27.839 39.0461 27.866 39.0565 27.8914C39.0669 27.917 39.0814 27.9389 39.0995 27.9578C39.1178 27.9764 39.1394 27.9913 39.1643 28.0023C39.1889 28.0133 39.2157 28.0186 39.2441 28.0186ZM39.2441 27.5428C39.2808 27.5428 39.315 27.5498 39.347 27.5636C39.3789 27.5777 39.4071 27.5968 39.4312 27.621C39.455 27.6453 39.4738 27.6737 39.4878 27.7064C39.5015 27.7387 39.5086 27.7734 39.5086 27.8103C39.5086 27.8469 39.5015 27.8815 39.4878 27.9139C39.4738 27.9463 39.455 27.9744 39.4312 27.9986C39.4071 28.0229 39.3789 28.0423 39.347 28.0564C39.315 28.0707 39.2808 28.0778 39.2441 28.0778C39.2067 28.0778 39.1719 28.0707 39.1394 28.0564C39.1069 28.0423 39.0787 28.0229 39.0552 27.9986C39.0311 27.9744 39.0125 27.9463 38.9986 27.9139C38.9849 27.8815 38.9781 27.8469 38.9781 27.8103C38.9781 27.7734 38.9849 27.7387 38.9986 27.7064C39.0125 27.6737 39.0311 27.6453 39.0552 27.621C39.0787 27.5968 39.1069 27.5777 39.1394 27.5636C39.1719 27.5498 39.2067 27.5428 39.2441 27.5428ZM35.0266 25.1708C34.6982 25.1708 34.4625 25.3288 34.3148 25.5656V25.2384H33.7944V27.9336H34.3203V26.4168C34.3203 25.9713 34.5284 25.6838 34.9006 25.6838C35.0157 25.6838 35.136 25.7007 35.2566 25.7514L35.4319 25.244C35.3058 25.1933 35.1415 25.1708 35.0266 25.1708ZM14.8212 26.586C14.8212 26.0786 15.1335 25.6726 15.6372 25.6726C16.119 25.6726 16.4368 26.0617 16.4368 26.586C16.4368 27.1103 16.119 27.4994 15.6372 27.4994C15.1335 27.4994 14.8212 27.0934 14.8212 26.586ZM16.9405 26.586V25.2384H16.4146V25.5656C16.2342 25.3231 15.9383 25.1708 15.5661 25.1708C14.8324 25.1708 14.2738 25.7629 14.2738 26.586C14.2738 27.4093 14.8324 28.0012 15.5661 28.0012C15.9383 28.0012 16.2342 27.8488 16.4146 27.6064V27.9336H16.9405V26.586ZM24.026 25.6726C24.4146 25.6726 24.6777 25.9319 24.716 26.3548H23.303C23.3525 25.96 23.6044 25.6726 24.026 25.6726ZM24.037 25.1708C23.2702 25.1708 22.7446 25.7401 22.7446 26.5804C22.7446 27.4375 23.2923 28.0012 24.0752 28.0012C24.4696 28.0012 24.8308 27.8998 25.1486 27.6233L24.8691 27.2232C24.65 27.4037 24.3708 27.505 24.1081 27.505C23.7411 27.505 23.3689 27.2908 23.303 26.8059H25.2579C25.2634 26.7327 25.2689 26.6592 25.2689 26.5804C25.2634 25.7401 24.7706 25.1708 24.037 25.1708ZM27.7166 26.586C27.7166 27.4037 28.2476 28.0012 29.091 28.0012C29.4853 28.0012 29.7481 27.9111 30.0328 27.6799L29.759 27.257C29.5455 27.4149 29.321 27.4994 29.0746 27.4994C28.6201 27.4938 28.264 27.1272 28.264 26.586C28.264 26.0448 28.6201 25.6782 29.0746 25.6726C29.321 25.6726 29.5455 25.757 29.759 25.915L30.0328 25.4921C29.7481 25.2609 29.4853 25.1708 29.091 25.1708C28.2476 25.1708 27.7166 25.7686 27.7166 26.586ZM19.7768 25.4527C19.5031 25.2665 19.1251 25.1708 18.7089 25.1708C18.0466 25.1708 17.6414 25.4921 17.6414 26.0279C17.6414 26.4674 17.937 26.7327 18.523 26.8172L18.7913 26.8566C19.1033 26.9016 19.2731 27.0145 19.2731 27.1666C19.2731 27.3752 19.0431 27.5107 18.6542 27.5107C18.2435 27.5107 17.9753 27.3809 17.7838 27.2288L17.5153 27.6517C17.9042 27.9449 18.3696 28.0012 18.6488 28.0012C19.4046 28.0012 19.8205 27.6405 19.8205 27.1272C19.8205 26.6536 19.5031 26.4111 18.928 26.3267L18.6597 26.2872C18.4133 26.2534 18.1943 26.1743 18.1943 25.9941C18.1943 25.7967 18.4024 25.6613 18.7144 25.6613C19.0486 25.6613 19.3715 25.7911 19.5304 25.8925L19.7768 25.4527ZM27.1196 25.1708C26.7912 25.1708 26.5558 25.3288 26.4078 25.5656V25.2384H25.8877V27.9336H26.4133V26.4168C26.4133 25.9713 26.6214 25.6838 26.9938 25.6838C27.1087 25.6838 27.2293 25.7007 27.3496 25.7514L27.5249 25.244C27.3991 25.1933 27.2348 25.1708 27.1196 25.1708ZM22.2628 25.2384H21.3101V24.421H20.779V25.2384H20.2258V25.7289H20.779V27.0033C20.779 27.6289 20.9926 28.0012 21.6658 28.0012C21.9122 28.0012 22.1971 27.9223 22.3779 27.7925L22.2136 27.3133C22.0437 27.4149 21.8575 27.4656 21.7098 27.4656C21.4249 27.4656 21.3101 27.2851 21.3101 27.0145V25.7289H22.2628V25.2384ZM13.7318 27.9336V26.2363C13.7318 25.5994 13.3593 25.1764 12.7241 25.1708C12.3902 25.1652 12.0451 25.2722 11.8042 25.65C11.6234 25.3513 11.3387 25.1708 10.939 25.1708C10.6598 25.1708 10.3642 25.2496 10.1506 25.5656V25.2384H9.625V27.9336H10.1561V26.3886C10.1561 25.9206 10.4298 25.6726 10.8186 25.6726C11.1963 25.6726 11.4098 25.9263 11.4098 26.383V27.9336H11.9412V26.3886C11.9412 25.9206 12.2258 25.6726 12.6038 25.6726C12.9926 25.6726 13.2004 25.9263 13.2004 26.383V27.9336H13.7318Z" fill="white"/>
          </g>
          <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="7" y="2" width="33" height="27">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97607 28.0776H39.831V2.56226H7.97607V28.0776Z" fill="white"/>
          </mask>
          <g mask="url(#mask1)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1655 20.6685H28.6422V4.72974H19.1655V20.6685Z" fill="#FF5F00"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1435 12.6989C20.1435 9.46531 21.6139 6.58566 23.9035 4.72953C22.2289 3.37206 20.1162 2.56226 17.8197 2.56226C12.3831 2.56226 7.97607 7.10066 7.97607 12.6989C7.97607 18.2971 12.3831 22.8355 17.8197 22.8355C20.1162 22.8355 22.2289 22.0257 23.9035 20.6683C21.6139 18.8121 20.1435 15.9325 20.1435 12.6989Z" fill="#EB001B"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.5237 19.0794V18.5867H39.4239L39.3091 18.9256L39.1945 18.5867H39.0947V19.0794H39.165V18.7077L39.2727 19.0283H39.3457L39.4532 18.7069V19.0794H39.5237ZM38.8918 19.0794V18.6706H39.0197V18.5874H38.6943V18.6706H38.822V19.0794H38.8918Z" fill="#F79E1B"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.8313 12.6989C39.8313 18.2971 35.424 22.8355 29.9877 22.8355C27.6912 22.8355 25.5782 22.0257 23.9038 20.6683C26.1935 18.8121 27.6638 15.9325 27.6638 12.6989C27.6638 9.46531 26.1935 6.58566 23.9038 4.72953C25.5782 3.37206 27.6912 2.56226 29.9877 2.56226C35.424 2.56226 39.8313 7.10066 39.8313 12.6989Z" fill="#F79E1B"/>
          </g>
          </svg>
    </div>
 
      

  </div>
<!-- button controllers -->
  <div class="controllers">
    <div class="left-controllers">
      <button role="button" (click)="goPreviousStep()" class="btn btn-sep icon-info left-icon btn-inverse">
        <svg class="svg-icon rotate icon-inverse" viewBox="0 0 28 28"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13.9998 0.666748C6.63604 0.666748 0.666504 6.63628 0.666504 14.0001C0.666504 21.3639 6.63604 27.3334 13.9998 27.3334C21.3636 27.3334 27.3332 21.3639 27.3332 14.0001C27.3332 6.63628 21.3636 0.666748 13.9998 0.666748ZM13.9998 24.6667C8.1088 24.6667 3.33317 19.8911 3.33317 14.0001C3.33317 8.10904 8.1088 3.33341 13.9998 3.33341C19.8909 3.33342 24.6665 8.10904 24.6665 14.0001C24.6665 19.8911 19.8909 24.6667 13.9998 24.6667ZM20.6665 13.8801V14.0001C20.6662 14.1788 20.6299 14.3556 20.5598 14.5201C20.4948 14.679 20.3998 14.8239 20.2798 14.9467L16.2798 18.9467L16.2721 18.9545C15.7493 19.473 14.9051 19.4696 14.3865 18.9467L14.3788 18.939C13.8602 18.4162 13.8637 17.572 14.3865 17.0534L16.1198 15.3334H8.6665C7.93012 15.3334 7.33317 14.7365 7.33317 14.0001C7.33317 13.2637 7.93012 12.6667 8.6665 12.6667H16.2132L14.5732 10.9201C14.0651 10.3862 14.086 9.54152 14.6198 9.03341C15.1537 8.52531 15.9984 8.54621 16.5065 9.08008L20.3198 13.0801C20.3643 13.1346 20.4045 13.1926 20.4398 13.2534C20.5014 13.3299 20.5509 13.4153 20.5865 13.5067C20.6334 13.626 20.6604 13.7521 20.6665 13.8801Z"
            fill="white" />
        </svg>
        Anterior
      </button>
    </div>
    <div class="right-controllers">
      <button role="button" (click)="goToNextStep()" class="btn btn-sep icon-info">
        Pagar
        <svg class="svg-icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13.9998 0.666748C6.63604 0.666748 0.666504 6.63628 0.666504 14.0001C0.666504 21.3639 6.63604 27.3334 13.9998 27.3334C21.3636 27.3334 27.3332 21.3639 27.3332 14.0001C27.3332 6.63628 21.3636 0.666748 13.9998 0.666748ZM13.9998 24.6667C8.1088 24.6667 3.33317 19.8911 3.33317 14.0001C3.33317 8.10904 8.1088 3.33341 13.9998 3.33341C19.8909 3.33342 24.6665 8.10904 24.6665 14.0001C24.6665 19.8911 19.8909 24.6667 13.9998 24.6667ZM20.6665 13.8801V14.0001C20.6662 14.1788 20.6299 14.3556 20.5598 14.5201C20.4948 14.679 20.3998 14.8239 20.2798 14.9467L16.2798 18.9467L16.2721 18.9545C15.7493 19.473 14.9051 19.4696 14.3865 18.9467L14.3788 18.939C13.8602 18.4162 13.8637 17.572 14.3865 17.0534L16.1198 15.3334H8.6665C7.93012 15.3334 7.33317 14.7365 7.33317 14.0001C7.33317 13.2637 7.93012 12.6667 8.6665 12.6667H16.2132L14.5732 10.9201C14.0651 10.3862 14.086 9.54152 14.6198 9.03341C15.1537 8.52531 15.9984 8.54621 16.5065 9.08008L20.3198 13.0801C20.3643 13.1346 20.4045 13.1926 20.4398 13.2534C20.5014 13.3299 20.5509 13.4153 20.5865 13.5067C20.6334 13.626 20.6604 13.7521 20.6665 13.8801Z"
            fill="white" />
        </svg>
      </button>
    </div>
  </div>
  <!-- end of button controllers -->
</div>
<!-- end of card body -->
</div>
<!-- end of card content -->