<!-- card body -->
<div class="body" *ngIf="response">
  <div class="message-success">
      <img [src]="'assets/img/' + response.img">
    <h1 class="title">{{ response.title }}</h1>
    <p>{{ response.text }}</p>
  </div>
</div>
<!-- end of card body -->