<!-- card body -->
<div class="body">
  <h1 class="title">Mis Datos</h1>
  <p>Revisa los datos y completa aquellos pendientes antes de continuar con el proceso.</p>
  <!-- form -->
  <form #formcustomerData="ngForm">
    <div class="form-group">
      <label class="field-label" for="name" >Nombre *</label>
      <input type="text" name="name" id="name" aria-label="Name" required #name="ngModel" [(ngModel)]="person.name">
      <p class="error no-label" *ngIf="formcustomerData.submitted && !name.valid">Campo Obligatorio.</p>
    </div>
    <div class="form-group">
      <label class="field-label" for="surname">Apellidos * </label>
      <input type="text" name="surname" id="surname" aria-label="Surname" #surname="ngModel" required  [(ngModel)]="person.surname">
      <p class="error no-label" *ngIf="formcustomerData.submitted && !surname.valid">Campo Obligatorio.</p>
    </div>

  </form>
  <!-- end of form -->
  <!-- button controller -->
  <div class="controllers">
    <div class="left-controllers">
    </div>
    <div class="right-controllers">
      <button role="button" (click)="formcustomerData.onSubmit($event);goToNextStep()" class="btn btn-sep icon-info float-right">
        Continuar
        <svg class="svg-icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13.9998 0.666748C6.63604 0.666748 0.666504 6.63628 0.666504 14.0001C0.666504 21.3639 6.63604 27.3334 13.9998 27.3334C21.3636 27.3334 27.3332 21.3639 27.3332 14.0001C27.3332 6.63628 21.3636 0.666748 13.9998 0.666748ZM13.9998 24.6667C8.1088 24.6667 3.33317 19.8911 3.33317 14.0001C3.33317 8.10904 8.1088 3.33341 13.9998 3.33341C19.8909 3.33342 24.6665 8.10904 24.6665 14.0001C24.6665 19.8911 19.8909 24.6667 13.9998 24.6667ZM20.6665 13.8801V14.0001C20.6662 14.1788 20.6299 14.3556 20.5598 14.5201C20.4948 14.679 20.3998 14.8239 20.2798 14.9467L16.2798 18.9467L16.2721 18.9545C15.7493 19.473 14.9051 19.4696 14.3865 18.9467L14.3788 18.939C13.8602 18.4162 13.8637 17.572 14.3865 17.0534L16.1198 15.3334H8.6665C7.93012 15.3334 7.33317 14.7365 7.33317 14.0001C7.33317 13.2637 7.93012 12.6667 8.6665 12.6667H16.2132L14.5732 10.9201C14.0651 10.3862 14.086 9.54152 14.6198 9.03341C15.1537 8.52531 15.9984 8.54621 16.5065 9.08008L20.3198 13.0801C20.3643 13.1346 20.4045 13.1926 20.4398 13.2534C20.5014 13.3299 20.5509 13.4153 20.5865 13.5067C20.6334 13.626 20.6604 13.7521 20.6665 13.8801Z"
            fill="white" />
        </svg>
      </button>
    </div>
  </div>
  <!-- end of button controllers -->
</div>
<!-- end of card body -->