html{
    padding: 0;
    margin: 0;   
}
body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F5;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
}
.controllers{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
}

// content
.content{
    max-width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    min-height: 300px;
    margin: auto;
    .stepper{
        width: 100%;
        margin: auto;
        height: 100px;
    }
}


//icons
.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Muli';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

button {
    font-family: 'Muli';
    font-size: 18px;
    line-height: 23px;
    position: relative;
    border: 0;
    padding-left: 11px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 160px;
    color: white;
    background-color: #3D8FCB;
    border-radius: 24px;
    
    &:hover,
    &:focus {
        color: white;
    }
    
    &:active {
        top: .08em;
    }
    &.left-icon{
        .svg-icon{
            margin-left: 0;
            margin-right: 22px;
        }
    }
    &.btn-inverse{
        background-color: #fff; 
        color: #3D8FCB;
        border: 2px solid #3D8FCB;
    }
}

.svg-icon {
    margin-left: 22px;
    position: relative;
    top: .125em;
    flex-shrink: 0;
    /* Scale the icon to match the font-size of the parent element. */
    height: 1.1em;
    width: 1.1em;
    fill: currentColor;
   transition: fill .3s;
   &.icon-inverse{
    filter: invert(55%) sepia(9%) saturate(3126%) hue-rotate(163deg) brightness(91%) contrast(88%);
   }
}

/**
    animations
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.rotate{
    transform: rotate(180deg);
}




// Small devices (landscape phones, 576px and up)
@media  screen and (max-width: 576px) { 
    input[type='text'],
    input[type='number'],
    textarea {
    font-size: 16px;
    }
    .content{
        padding-right: 0;
        padding-left: 0;
    }
 }

// Medium devices (tablets, 768px and up)
@media  screen and (max-width: 768px) { 
    input[type='text'],
    input[type='number'],
    textarea {
    font-size: 16px;
    }
    .content{
        padding-right: 0;
        padding-left: 0;
    }
    
 }






