<app-navbar></app-navbar>
<div class="content">
  <!-- stepper -->
  <div class="stepper">
    <ul class="progressbar">
      <li class="active" [ngClass]="{'success': step > 1}">MIS DATOS</li>
      <li [ngClass]="{'success': step > 2, 'active': step >= 2}">PAGOS</li>
    </ul>
  </div>
  <!-- end of stepper -->
  <!-- card -->
  <div class="card">
      <app-step-one [hidden]="step === 2 || step === 3" (changeStep)="step = $event"></app-step-one>
      <app-step-two [hidden]="step === 1 || step === 3" (changeStep)="step = $event" (response)="response = $event"></app-step-two>
      <app-step-three [response]="response" [hidden]="step === 1 || step === 2"></app-step-three>
  </div>
  <!-- end of card -->
</div>
<app-footer></app-footer>